:root {
    --eggshell: #f4f1de;
    --terracotta: #e07a5f;
    --independence: #3d405b;
    --greensheen: #81b29a;
    --de_champagne: #f2cc8f;
    --shadow: #1d1b1ba4;
    --padding: 20px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--eggshell);
    color: var(--independence);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    padding : var(--padding);
}

.list-item {
    list-style-type: none;
    display: flex;
    float:right;
}

.navigation-list_item {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    
}

.title {
    text-align: center;
    font-size: 50px;
}
.pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pokemon-panel {
    border: none;
    width: 50%;
    margin: 10px auto;
    display: block;
    font-family: inherit;
    font-size: inherit;
    text-transform: capitalize;
    background-color: var(--de_champagne);
    color: var(--independence);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px var(--shadow);
    border-right: 2px solid var(--shadow);
    border-bottom: 2px solid var(--shadow);
    transition-duration: 0.2s;
    transition-property: opacity;
}

.pokemon-panel:hover, .modal-close:hover { 
    cursor: pointer;
    opacity: 0.8;

}

.pokemon-panel:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

#loading {
    visibility:hidden;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
}



#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    z-index: 999; 
    
    overflow: auto; 
    
    display: none;
    text-align: center;
}

#modal-container.is-visible {
    display: grid;
}

.modal {

    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: var(--de_champagne);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: var(--independence);
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
    color: var(--independence);
    text-transform: capitalize;
}

.modal img {
    float: left;
    width: 200px;
    margin-right: 40px;
}

.modal p {
    margin-bottom: 0;
    color: var(--independence);
}

.footer {
    display:block;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:rgba(0, 0, 0, 0.5);
    text-size: 20px;
}
.fab {
    color:rgba(0, 0, 0, 0.5);
    padding: 15px;
    overflow: hidden;
}
.fab:hover {
    color: black;
}